.wrapper {
  margin-bottom: 40px;
}

.fieldWrapper {
  position: relative;
}

.fieldWrapper:not(:last-child) {
  margin-bottom: 18px;
}

.inputWrapper {
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--dark-transparent-10);
}

.inputWrapperError {
  border-color: var(--medium);
}

.input {
  width: 100%;
  padding: 16px 18px;
  border: none;
  outline: none;
  background-color: transparent;

  font-family: inherit;
  line-height: 125%;
}

.input::placeholder {
  color: inherit;
}

.inputError {
  position: absolute;
  font-size: 12px;
  color: var(--medium);
  left: 18px;
}
.inputIcon {
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
